<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background-image: url("https://imageio.forbes.com/specials-images/imageserve/6440e37e940683175fbffcf0/best-airlines-in-2023/960x0.jpg?height=473&width=711&fit=bounds");
        background-size: cover;
        }
        h3.big
        {
        line-height: 1.8;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <a href="/home" class="btn btn-info btn-lg">Home</a>
                <a href="/predict" class="btn btn-primary btn-lg">Predict</a>
             
            </div>
        </div>

        <center>
            <h1><strong>Airline Review Classification</strong></h1>
        </center>

        <h3 class="big"><em>The main purpose of airline review classification is to automatically analyze and categorize reviews or
             feedback about airlines based on their content.Automating the classification of airline reviews using NLP techniques allows airlines to efficiently 
             process large volumes of feedback, gain valuable insights, and respond effectively to customer
             needs. It contributes to data-driven decision-making and helps airlines stay agile in responding to 
             the dynamic nature of customer expectations and industry trends.
        </em></h3><br>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>